/* Galaxy.css */
.galaxy-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/* Dodatkowe style dla g³ównego kontenera */
#app-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#root {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}
